<div class="comentario-item">
  <img 
    [src]="comentario.author.profileImage" 
    [alt]="comentario.author.firstName"
    class="comentario-avatar"
  >
  <div class="comentario-content">
    <div class="comentario-header">
      <strong>{{ comentario.author.firstName }} {{ comentario.author.lastName }}</strong>
      <span class="comentario-username">@{{ comentario.author.username }}</span>
      <span class="comentario-fecha">· {{ formatearFecha(comentario.createdAt) }}</span>
    </div>
    <p class="comentario-mensaje">{{ comentario.message }}</p>
  </div>
</div>
